<h1 class="titul-inscripcio">Inscripció d'atletisme</h1>

<form class="example-form">

  <mat-form-field class="example-full-width">
    <mat-label>Nom</mat-label>
    <input matInput placeholder="Introduce tu nombre" required>
  </mat-form-field>

  
  <mat-form-field class="example-full-width">
    <mat-label>Cognom</mat-label>
    <input matInput placeholder="Introduce tu apellido" required>
  </mat-form-field>

  
  <mat-form-field class="example-full-width">
    <mat-label>Correu</mat-label>
    <input matInput placeholder="Introduce tu correo" type="email" required>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <mat-label>DNI</mat-label>
    <input matInput placeholder="Introduce tu DNI" required>
  </mat-form-field>

 
  <mat-form-field class="example-full-width">
    <mat-label>Contrasenya</mat-label>
    <input matInput placeholder="Introduce tu contraseña" type="password" required>
  </mat-form-field>

 
  <div class="distance-options">
    <label>Distància</label>
    <mat-radio-group class="distance-radio-group" name="distance" required>
      <mat-radio-button value="10k">10k</mat-radio-button>
      <mat-radio-button value="20k">20k</mat-radio-button>
      <mat-radio-button value="30k">30k</mat-radio-button>
    </mat-radio-group>
  </div>

 
  <button mat-button color="accent" type="submit">Subscriu-me</button>
</form>
